pandas
numpy
scikit-learn
xgboost
lightgbm
shap
fastapi
uvicorn
pydantic
streamlit
optuna
category_encoders
matplotlib
requests
plotly
mapie
mlflow
prometheus-fastapi-instrumentator
fpdf2
SQLAlchemy
groq